body {
    margin: 0;
    font-family: "Times New Roman"; 
    display: flex;
    height: 100vh;
    background-color: #efebe5;
}
.photo{
    opacity: 0.44;
}

.button1{
    position: absolute;
    top: 5px;
    left: 845px;
    border: none;
    background-color: #f0f0f0;
    color: buttontext;
    border-radius: 8px;
    font-family: "Dancing Script", serif;
    font-size: 20px;
    padding: 7px 35px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.inputBox {
            position: absolute;
            right: 100px; 
            top: 65px;  
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 40px;
            padding-right: 40px;
            background-color: #f0f0f0;
            border-radius: 8px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }

label {

    font-family: "Dancing Script", serif;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

input {
    padding: 2px 100px;
    text-align: center;
    border-radius: 4px; 

}

input[id="komentari"] {
    height: 40px;
}


input[value="submit"] {
            background-color: #ffffff;
            cursor: pointer;
            border: none;
            margin-top: 30px;
            padding: 5px 165px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }


.dancing-script-unique {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


 .konteineris_hiddentext {
            display: inline-block;
        }

.texsts {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    z-index: 1;
    left: 70%;
    bottom: 32%;
    margin-left: -60px; 
    width: 120px;
    opacity: 0; 
    transition: opacity 0.3s; /* Плавное появление */
}

        .konteineris_hiddentext:hover .texsts {
            visibility: visible;
            opacity: 1;
        }
