body {
    margin: 0;
    font-family: "Times New Roman"; 
    display: flex;
    height: 100vh;
    background-color: #efebe5;
}
.photo{
    opacity: 0.44;
    position: relative;
}

.button1{
    position: absolute;
    top: 5px;
    left: 845px;
    border: none;
    background-color: #ffffff;
    color: buttontext;
    border-radius: 8px;
    font-family: "Dancing Script", serif;
    font-size: 20px;
    padding: 7px 35px;
    text-decoration: none;
}