<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pasūtījumu drukāšana konraktinformācija</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/kontinf.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap" rel="stylesheet">


</head>
<body>
	<img class="photo" src="../static/images/foto.jpg">

	<div class="classButton">
    <a href="/" class="button1">← Atgriezties</a>
    
    </div>


</body>
</html>