<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pasūtījumu drukašana</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pasutisana_css.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
	<img class="photo" src="../static/images/foto.jpg">

	<div class="classButton">
    <a href="/" class="button1">← Atgriezties</a>
    
    </div>

    <form class="inputBox" action="/action_page.php">
    	<label for="vards">Vārds: </label><br>
  		<input type="text" id="vards" name="vards" required><br>
  		<label for="uzvards">Uzvārds: </label><br>
  		<input type="text" id="uzvards" name="uzvards" required><br>
  		<label for="numurs">Telefona numurs:  </label><br>
  		<input type="tel" id="numurs" name="numurs" pattern="[2]{1}[0-9]{7}" placeholder="23456789" required><br>
  		<label for="epasts">E-pasts: </label><br>
  		<input type="epasts" id="epasts" name="email" required><br><br>

  		<label for="numurs" class="piegAdr">Piegādes adrese  </label><br>
  		<label for="pilseta">Pilsēta: </label><br>
  		<input type="text" id="pilseta" name="pilseta" required><br>
  		<label for="iela">Iela: </label><br>
  		<input type="text" id="iela" name="iela" required><br>
  		<label for="majasNR">Mājas numurs:  </label><br>
  		<input type="text" id="majasNR" name="majasNR" required><br>
  		<br>
  		<label for="izmers">Izmērs:  </label><br>

  		<div class="konteineris_hiddentext">
  		<input type="radio" id="A7" name="izmers" value="A7">
		<label for="A7">A7</label>  <div class="texsts">7.4 x 10.5 cm</div></div>
		<div class="konteineris_hiddentext">
  		<input type="radio" id="A6" name="izmers" value="A6">
		<label for="A6">A6</label>  <div class="texsts">10.5 x 14.8cm</div></div>

		<div class="konteineris_hiddentext">
		<input type="radio" id="A5" name="izmers" value="A5">
		<label for="A5">A5</label><br>
		<div class="texsts">14.85 x 21cm</div></div>

		<div class="konteineris_hiddentext">
		<input type="radio" id="A4" name="izmers" value="A4">
		<label for="A4">A4</label><br>
		<div class="texsts">21 x 29.7 cm</div></div><br>

		<div class="konteineris_hiddentext">
		<input type="radio" id="A3" name="izmers" value="A3">
		<label for="A3">A3 </label><br>
		<div class="texsts">29.7 x 42 cm</div></div>

		<div class="konteineris_hiddentext">
		<input type="radio" id="A2" name="izmers" value="A2">
		<label for="A2">A2 </label><br>
		<div class="texsts">42 x 59.4 cm</div></div>

		<div class="konteineris_hiddentext">
		<input type="radio" id="A1" name="izmers" value="A1">
		<label for="A1">A1 </label><br>
		<div class="texsts">59.4 x 84.1 cm</div></div>

		<div class="konteineris_hiddentext">
		<input type="radio" id="A0" name="izmers" value="A0">
		<label for="A0">A0 </label><br>
		<div class="texsts">84.1 x 118.9 cm</div></div><br>


		<label for="gab">Daudzums:  </label><br>
  		<input type="number" id="gab" name="gab" min= "1" required><br>

  		<label for="komentari">Piezīmes:  </label><br>
  		<input type="text" id="komentari" name="komentari" ><br>

  		<input type="submit" value="submit">
    </form>
</body>
</html>