<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasūtījumu drukašana</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminmain_css.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap" rel="stylesheet">

</head>
<script>
    function updateStatus(orderId, newStatus) {
        // Отправляем POST-запрос на сервер для обновления статуса
        fetch('/update_status', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `id=${orderId}&status=${newStatus}`
        })
        .then(response => {
            if (response.ok) {

            } else {
                alert('Failed to update status!');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error updating status!');
        });
    }

    function poga_pieejams(button) {
        var row = button.closest("tr"); // Получаем текущую строку

        var orderId = row.cells[0].textContent; // Получаем ID заказа из первого столбца

        // Обновляем статус в базе данных через сервер
        updateStatus(orderId, "Ir pieejams");

        var materialStatusCell = row.cells[4]; // Столбец для статуса материала
        var overallStatusCell = row.cells[5]; // Столбец для общего статуса
    
        // Скрываем кнопки
        var buttons = row.getElementsByClassName('button_mater');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].style.display = 'none';
        }
    
        // Обновляем текст
        materialStatusCell.textContent = "Ir pieejams";
        overallStatusCell.textContent = "Gaida rindā";
    }

    function order(button) {
        var row = button.closest("tr"); // Получаем текущую строку
        var materialStatusCell = row.cells[4]; // Столбец для статуса материала
        var overallStatusCell = row.cells[5]; // Столбец для общего статуса

        var orderId = row.cells[0].textContent; // Получаем ID заказа

        // Обновляем статус в базе данных через сервер
        updateStatus(orderId, "Pasūtīts");
    
        // Скрываем кнопки
        var buttons = row.getElementsByClassName('button_mater');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].style.display = 'none';
        }
    
        // Обновляем текст
        materialStatusCell.textContent = "Pasūtīts";
        overallStatusCell.textContent = "Gaida materiālu piegādi";
    
        // Добавляем кнопку "Saņemts"
        var receivedButton = document.createElement("button");
        receivedButton.className = "button_mater";
        receivedButton.textContent = "Saņemts";
        receivedButton.onclick = function () {
            updateStatus(orderId, "Ir pieejams");  // Обновляем статус в базе
            // Обновляем статус при нажатии на "Saņemts"
            materialStatusCell.textContent = "Ir pieejams";
            overallStatusCell.textContent = "Gaida rindā";
            receivedButton.style.display = "none"; // Скрываем кнопку "Saņemts"
        };
        materialStatusCell.appendChild(receivedButton);
    }

    function gatavs_printesanai(button) {
        var row = button.closest("tr"); // Получаем текущую строку
        var materialStatusCell = row.cells[4];
        var overallStatusCell = row.cells[5]; // Столбец для общего статуса
        var orderId = row.cells[0].textContent; // Получаем ID заказа

        // Обновляем статус в базе данных через сервер
        updateStatus(orderId, "Ir pieejams");

        // Обновляем текст
        materialStatusCell.textContent = "Ir pieejams";
        overallStatusCell.textContent = "Gaida rindā";
        receivedButton.style.display = "none"; 
    }
    
    function nakamais_pasutijums(button) {
        var idInfo = document.getElementById("ID_id");
        var formatsInfo = document.getElementById("ID_formats");
        var skaitsInfo = document.getElementById("ID_skaits");
        var piezimesInfo = document.getElementById("ID_Piezimes");
        var statussInfo = document.getElementById("ID_statuss");



        idInfo.textContent= ""; 
        formatsInfo.textContent = "";
        skaitsInfo.textContent = "";
        piezimesInfo.textContent = ""; 
        statussInfo.textContent = "";

    }
</script>
</head>
<body>
<div class="container">
    <h2 style="padding-left: 10px;">Printējas pasūtījums:</h2>
    <div class="header">
        <div class="order1">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Formāts</th>
                        <th>Skaits</th>
                        <th>Piezīmes</th>
                        <th>Kopējs statuss</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="ID_id">1</td>
                        <td id="ID_formats">A3</td>
                        <td id="ID_skaits">20gb</td>
                        <td id="ID_Piezimes">Lai būtu centrēts</td>
                        <td id="ID_statuss">Notiek printēšana</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="button" onclick="nakamais_pasutijums(this)">Gatavs</button>
    </div>
    <div class="divider"></div>
    <div class="content">
        <h2>Gaida rindā</h2>
        <div class="order">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Formāts</th>
                        <th>Skaits</th>
                        <th>Piezīmes</th>
                        <th>Materiālu statuss</th>
                        <th>Kopējs statuss</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.izmers }}</td>
                        <td>{{ order.daudzums }} gab</td>
                        <td>{{ order.komentari or "Nav piezīmju" }}</td>
                        <td>
                            {% if order.materiala_statuss == 'Ir pieejams' %}
                                Ir pieejams
                            {% elif order.materiala_statuss == 'Pasūtīts' %}
                                Pasūtīts
                                <button class="button_mater" onclick="gatavs_printesanai(this)">Saņemts</button>
                            {% else %}
                                <button class="button_mater" onclick="poga_pieejams(this)">Ir noliktavā</button>
                                <button class="button_mater" onclick="order(this)">Pasūtīt</button>
                            {% endif %}
                        </td>
                        <td id="kopejais_stat">
                            {% if order.materiala_statuss == 'Ir pieejams' %}
                                Gaida rindā
                            {% elif order.materiala_statuss == 'Pasūtīts' %}
                                Gaida materiālu piegādi
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
