<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasūtījumu drukašana</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ielogosanas_css.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap" rel="stylesheet">



</head>
<body>
    <img class="photo" src="../static/images/foto.jpg">

    <div class="texts">
    <h1>Ielogošanās</h1>
    </div>

    <form action="/adminmain" class="inputBox" action="/action_page.php">
        <label for="login">Login </label><br>
        <input type="text" id="login" name="login" required><br>

        <label for="password">Password </label><br>
        <input type="password" id="upassword" name="password" required><br>

        <input type="submit" value="Ielogoties!" \>
    </form>

</body>
</html>
