<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasūtījumu drukašana</title>
   

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_css.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap" rel="stylesheet">



</head>
<body>
    <img class="photo" src="../static/images/foto.jpg">

    <div class="texts">
    <h1>Pasūtījumu <br />drukāšana</h1>
    </div>
    <div class="classButton">
    <a href="/pasutisana" class="button1">Pasūtīt →</a>
    
    </div>

    <div class="classButton">
    <a href="/kontaktinfo" class="button2">Kontaktinformācija ✆</a>
    </div>
   <div class="classButton">
        <a href="/ielogosanas" class="button3">Darbinieku <br /> ielogošanās </a>
    </div>

</body>
</html>
